* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Inter', arial;
}
main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}


/*Header*/
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #4da7af;
    padding-top: 0.5rem;
    background-color: #fff;
}
.header-logo {
    max-width: 250px;
}


.text-blue {
    color: #4da7af;
    font-weight: 900;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
    position: relative;
    padding: 2.5rem 0;
    background-color: #0e262c;
}
.section-button {
    border: none;
    border-radius: 0.3rem;
    text-decoration: none;
    color: #eee;
    background-color: #4da7af;
    border: 2px solid transparent;
    padding: 1rem 1.25rem;
    font-weight: 800;
    font-size: 1.25rem;
    margin-top: 1.25rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.section-button:hover {
    border: 2px solid #46959c;
    background-color: #eee;
    color:#4da7af;
}

.hero-section {
    /*
    background:#0e262c;
    */
    background-image: linear-gradient(to top, rgba(34, 80, 78, 0.8), rgba(24, 63, 59, 0.8)), url("../src/hero-section-2.jpg");
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8rem;
    color: #eee;
    padding: 0 1.25rem;
}
.hero-section__title {
    max-width: 1150px;
    text-align: center;
    font-weight: 900;
    padding: 0;
    font-size: 2.5rem;
}
.hero-section .section-button {
    background-color: transparent;
    border-color: #fff;
}
.hero-section .section-button:hover {
    background-color: #fff;
    color: #000;
}
.scroll-animation {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 91%;
    overflow: hidden;
}
.scroll-animation span { 
        display: block;
        width: 30px;
        height: 30px;
        border-bottom: 5px solid #fff;
        border-right: 5px solid #fff;
        transform: rotate(45deg);
        margin: 0.5rem;
        animation: scroll 2s infinite;
    }
    .scroll-animation span:nth-child(2) {
        animation-delay: -.2s;
    }
    .scroll-animation span:nth-child(3) {
        animation-delay: -.4s;
    }
@keyframes scroll {
    0% {
        opacity: 1;
        transform: rotate(45deg) translate(-20x -20px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: rotate(45deg) translate(-20x -20px);
    }
}
@media screen and (max-width: 800px){
    .hero-section {
        gap: 2rem;
    }
    .scroll-animation {
        top: 87.5%;
    }
}
@media screen and (max-width: 600px){
    .hero-section {
        gap: 2.5rem;
    }
    .hero-section__title {
        font-size: 1.5rem;
    }
}

/*Recurso section*/
.recurso-section {
    padding: 3rem 1rem !important;
    background: #419292;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.recurso-section__text-container h2 {
    color: #ffffff;
    font-weight: 800;
    font-size: 2rem;
    text-align: left;
}
.recurso-section__text-container p {
    color: #ffffff;
    font-weight: 600;
    font-size: 1.25rem;
}
.recurso-section__text-container {
    display: flex;
    justify-self: center;
    align-self: start;
    margin-top: 2.25rem;
    max-width: 550px;
    background-color: #eee;
    border-radius: 1rem;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding: 1rem;
    box-shadow: -15px 15px 35px 0px #464646;
    gap: 0.55rem;

    background-color: transparent;
    box-shadow: none;
}
input {
    color: #000 !important;
}
.sib-form-block__button {
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent !important;
}
.sib-form-block__button:hover {
    background-color: #fff!important;
    border: 1px solid #419292 !important;
    color: #419292 !important;
}

#sib-container {
    border: none !important;
}
.input {
    background-color: #eee !important;
    border: 1px solid transparent !important;
    outline: 1px solid transparent !important;
    padding: 0.625rem !important;
}
#sib-container input:-ms-input-placeholder {
    text-align: left;
    color: #000000;
}

#sib-container input::placeholder {
    text-align: left;
    color: #000000;
}

#sib-container textarea::placeholder {
    text-align: left;
    color: #000000;
}
/* Estilos para centrar el modal en el medio de la pantalla */
.modal {
    display: none; /* Oculta el modal por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Ancho del modal */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); /* Centra verticalmente */
    max-width: 500px;
    color: #000;
}
.modal-content p {
    padding-top: 2rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: #000 !important;
}

.close {
    color: #000000;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -0.825rem;
    margin-right: 1rem;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

.sib-form-block h2 {
    padding: 0;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 0;
}

@media screen and (max-width: 800px) {
    .recurso-section {
        flex-wrap: wrap;
    }
    .recurso-section .text-container {
        max-width: 550px;
        padding: 0.825rem;
    }
    .recurso-section .text-container h2 {
        text-align: center;
        color: #2b5f5f;
        font-size: 1.5rem;
    }
    .recurso-section .text-container p {
        text-align: center;
        color: #2b5f5f;
        font-size: 1rem;
    }
    .sib-form {
        width: 100%;
    }
    .sib-form-block h2 {
        padding: 0;
        font-weight: 800;
        font-size: 1.5rem;
    }
}

/*Primer seccion*/
.first-section {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', arial;
    padding-bottom: 0;
    color: #fff;
    padding: 5rem 1rem;
    padding-bottom: 0;
}
.italic {
    font-style: italic;
}
.first-section__title {
    font-size: 2.25rem;
    font-weight: 900;
    padding-bottom: 0.5rem;
    line-height: 1.5;
}
.first-section__description {
    font-size: 1.4rem;
}
.first-section__paragraph {
    max-width: 1050px;
    text-align: center;
    font-weight: 800;
    font-size: 1.9rem;
}
.first-section__box {
    max-width: 900px;
    font-weight: 700;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-section__box ul li {
    font-size: 1.25rem;
    list-style: none;
}
.first-section__box ul li i {
    padding-right: 0.5rem;
}

.second-section { 
    padding-top: 1rem;
}
.second-section__title {
    max-width: 950px;
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 0.825rem;
}
.second-section__paragraph {
    max-width: 1050px;
    text-align: left;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.img-container{
    width: 400px;
    height: 275px;
    box-shadow: -10px 10px 29px 0px #2b5f5f;
    border-radius: 50%;
    overflow: hidden;
}
@media screen and (max-width:1100px) {
    .img-container{
        width: 300px;
        height: 200px;
        display: flex;
        justify-content: center;
    }
    .img-container img {
        width: 100%;
        height: 250px;
        padding-top: 1.5rem;
        transform: scale(1.25);
    }
}
@media screen and (max-width:800px) {
    .img-container{
        width: 300px;
        height: 275px;
        margin: 0.825rem 0;
    }
}


/*Seccion gaston*/
.gaston-sectionV2 {
    background: #ececec;
}
.gaston-section__title {
    padding-bottom: 0.5rem;
    font-weight: 800;
    font-size: 2rem;
    color: #000000;
    text-align: center;
}
.gaston-section__title a {
    color: #53b4bd;
    text-decoration: none;
    font-weight: 900;
    transition: color 0.3s ease-in-out;
}
.gaston-section__title a:hover {
    color: rgb(50, 141, 163);
    cursor: pointer;
}

.gaston-section__containerV2 {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.img-containerV2{
    margin-top: -1rem;
    width: 475px;
    height: 450px;
    box-shadow: -16px 10px 30px 0px #464646;
    border-radius: 1.25rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 1;
    transform: translate(-.5rem, 3em);
    position: relative;
}

.gaston-section__imgV2 {
    width: 400px;
    height: 550px;
    padding-bottom: 3rem;
}

.text-container {
    /*
    background-color: #285764;
    */
    background-color: #eee;
    color: #222;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-self: end;
    position: relative;
    transform: translate(-2rem, 2.25rem);
    z-index: 1;
    gap: 0.825rem;
    box-shadow: 15px 15px 35px 0px #464646;
}
.gaston-section__paragraphV2{
    max-width: 1050px;
    font-weight: 700;
    font-size: 1.3rem;
}
.v2 {
    margin-top: 4.5rem;
}
@media screen and (max-width:1100px) {
    .gaston-section__containerV2 {
        flex-wrap: wrap;
    }
    .img-containerV2{
        width: 400px;
        height: 500px;
        box-shadow: -16px 10px 30px 0px #464646;
        z-index: 2;
        transform: translate( 0rem, 3em);
        transform: translate( 0rem, 4.5em);
    }
    
    .gaston-section__imgV2 {
        width: 450px;
        height: 600px;
    }
    
    .text-container {
        width: 90%;
        padding-top: 2rem;
        margin-left: 7.5%;
    }
}
@media screen and (max-width: 800px){
    .gaston-section__containerV2 {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}
@media screen and (max-width:600px) {
    .gaston-section {
        padding: 0;
    }
    .gaston-section__containerV2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .img-containerV2{
        width: 300px;
        height: 400px;
        transform: translate( 0rem, 4.5em);
    }
    
    .gaston-section__imgV2 {
        width: 350px;
        height: 500px;
        padding-bottom: 3rem;
    }
    .gaston-section__paragraphV2{
        font-size: 1rem;
    }
    .text-container {
        gap: 0.25rem;
        padding: 0.5rem;
        padding-top: 2rem;
        margin-right: -7.5%;
        width: 95%;
    }
}


/*Seccion Victor*/
.victor-section {
    background: #ececec;
}
.victor-section__title {
    margin-bottom: 0;
    font-weight: 800;
    font-size: 2rem;
    color: #000000;
    text-align: center;
}
.victor-section__title a {
    color: #53b4bd;
    text-decoration: none;
    font-weight: 900;
    transition: color 0.3s ease-in-out;
}
.victor-section__title a:hover {
    color: rgb(50, 141, 163);
    cursor: pointer;
}

.victor-section__container {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}
@media screen and (max-width: 800px){
    .victor-section__container {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}
.img-container-victor{
    width: 500px;
    height: 500px;
    box-shadow: -16px 10px 30px 0px #464646;
    border-radius: 1.25rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 1;
    transform: translate(-.5rem, 3em);
    position: relative;
}

.img-container-victor img {
    width: 550px;
    height: auto;
}

.text-container-victor {
    /*
    background-color: #285764;
    */
    background-color: #eee;
    color: #222;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-self: end;
    position: relative;
    transform: translate(-2rem, 2.25rem);
    z-index: 1;
    gap: 0.825rem;
    box-shadow: 15px 15px 35px 0px #464646;
}
.victor-section__paragraph{
    max-width: 1050px;
    font-weight: 700;
    font-size: 1.3rem;
}
.v2 {
    margin-top: 4.5;
}
@media screen and (max-width:1100px) {
    .victor-section__container {
        flex-wrap: wrap;
    }
    .img-container-victor{
        width: 400px;
        height: 500px;
        box-shadow: -16px 10px 30px 0px #464646;
        z-index: 2;
        transform: translate( 0rem, 5em);
    }
    
    .victor-section__img {
        width: 450px;
        height: 600px;
    }
    
    .text-container-victor {
        transform: translate( -1rem, 3em);
        padding-top: 2.5rem;
        width: 95%;
        margin-left: 7.5%;
    }

}
@media screen and (max-width:800px) {
    .img-container-victor{
        
        margin: 0.825rem 0;
        margin-top: 0;
    }
    .text-container-victor {
        transform: translate( -1rem, 2.5em);
        padding-top: 2.5rem;
        width: 95%;
        margin-left: 7.5%;
    }
}
@media screen and (max-width:600px) {
    .victor-section__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 7.5%;
    }
    .img-container-victor{
        width: 300px;
        height: 400px;
    }
    
    .victor-section__img {
        width: 350px;
        height: 450px;
        display: none;
    }
    .victor-section__paragraph{
        font-size: 1rem;
    }
    .text-container-victor {
        width: 95%;
        padding: 0.5rem;
        padding-top: 2.75em;
        margin-right: -1.5%;
        gap: 0.5rem;
        margin-left: 0;
        transform: translate(-1.5rem, 1rem);
    }
}


/*Seccion preguntas frecuentes*/
.preguntas-section {
    padding-top: 3.5rem;
    text-align: center;
}
.preguntas-section__title {
    font-weight: 900;
    font-size: 1.75rem;
    max-width: 1000px;
    padding-bottom: 0.825rem;
}
.accordion {
    max-width: 750px;
}
.preguntas-section__item h2 button{
    font-weight: 700;
}


/*Calendly*/

.calendly-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: hidden !important;
}

.calendly-inline-widget {
    overflow-y: hidden !important;
}
@media screen and (max-width: 1100px) {
    .calendly-inline-widget {
        height: 1300px !important;
        overflow-y: hidden !important;
    }
}
/*Footer*/
.footer-section {
    padding-top: 3rem;
}
.footer-section__paragraph {
    max-width: 1050px;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}
footer {
    background-color: #fff;
    padding: 0.5rem;
    border-top: 2px solid #4da7af;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-section__p {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 800;
    max-width: 1050px;
}
.text-blue {
    color: #4da7af;
    font-weight: 900;
}
@media screen and (max-width: 950px){
    .section {
        padding: 1.25rem 1rem;
    }
    p {
        padding: 0 1rem;
    }
}
@media screen and (max-width: 800px){
    .section {
        padding: 1.75rem 1rem;
    }
    .hero-section {
        padding: 0 1.5rem;
    }
    .preguntas-section {
        padding: 1.5rem 1rem;
        padding-top: 1rem;
        border: 2px solid #0e262c;
    }

    .gaston-section {
        padding: 2.5rem 1rem;
    }
    .victor-section {
       padding: 2.75rem 1rem; 
       padding-bottom: 5rem;
    }
}