* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}
/*Header*/
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #4da7af;
    padding-top: 0.5rem;
    background-color: #fff;
}
.header-logo {
    max-width: 250px;
}


.text-blue {
    color: #4da7af;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
    background-color: #0e262c;
    position: relative;
    padding: 2.5rem 0;
}
.section-button {
    border: none;
    border-radius: 0.3rem;
    text-decoration: none;
    color: #eee;
    background-color: #4da7af;
    border: 2px solid transparent;
    padding: 0.5rem 0.625em;
    font-weight: 800;
    font-size: 1.25rem;
    margin-top: 1.25rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.section-button:hover {
    border: 2px solid #46959c;
    background-color: #eee;
    color:#4da7af;
}


.hero-section {
    background-image: linear-gradient(#173e49,#0e262c);
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8rem;
    color: #eee;
}
.hero-section__title {
    max-width: 1150px;
    text-align: center;
    font-weight: 900;
    padding: 0 0.75rem;
    font-size: 2.5rem;
}


.chevron.bottom:before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate( -45deg);
    vertical-align: top;
    width: 20px;
    animation: scroll 2s infinite;
}
.scroll-animation {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 91%;
    overflow: hidden;
}
.scroll-animation span { 
        display: block;
        width: 30px;
        height: 30px;
        border-bottom: 5px solid #fff;
        border-right: 5px solid #fff;
        transform: rotate(45deg);
        margin: 0.5rem;
        animation: scroll 2s infinite;
    }
    .scroll-animation span:nth-child(2) {
        animation-delay: -.2s;
    }
    .scroll-animation span:nth-child(3) {
        animation-delay: -.4s;
    }
@keyframes scroll {
    0% {
        opacity: 1;
        transform: rotate(45deg) translate(-20x -20px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: rotate(45deg) translate(-20x -20px);
    }
}
@media screen and (max-width: 800px){
    .hero-section {
        gap: 2rem;
    }
    .scroll-animation {
        top: 87.5%;
    }
}
@media screen and (max-width: 600px){
    .hero-section {
        gap: 2.5rem;
    }
    .hero-section__title {
        font-size: 1.75rem;
    }
}


/*Primer seccion*/
.first-section {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.italic {
    font-style: italic;
}
.first-section__paragraph {
    max-width: 1050px;
    text-align: center;
    font-weight: 800;
    font-size: 1.9rem;
}
.first-section__box {
    max-width: 900px;
    font-weight: 700;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-section__box ul li {
    font-size: 1.15rem;
}

.second-section { 
    padding-top: 1rem;
}
.second-section__title {
    max-width: 950px;
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;
}
.second-section__paragraph {
    max-width: 1050px;
    text-align: left;
    font-weight: 600;
    font-size: 1.5rem;
}

/*Seccion gaston*/
.gaston-section {
    background-image: linear-gradient(#0e262c, #173e49);
}
.gaston-section__title {
    padding-bottom: 0.5rem;
    font-weight: 800;
    font-size: 2rem;
    color: #fff;
}
.gaston-section__title a {
    color: #4da7af;
    text-decoration: none;
    font-weight: 900;
    transition: color 0.3s ease-in-out;
}
.gaston-section__title a:hover {
    color: rgb(50, 141, 163);
    cursor: pointer;
}
.gaston-section__container {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}
.gaston-section__paragraph {
    font-family: Poppins, Helvetica, sans-serif;
    max-width: 1050px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5;
}
.gaston-section__img {
    max-width: 250px;
}
@media screen and (max-width: 800px){
    .gaston-section__container {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}
/*Seccion Victor*/
.victor-section {
    padding: 2.5rem 0;
    background-color: #12313a;
    background-image: linear-gradient(#173e49,#0e262c);
}
.victor-section__title {
    padding-bottom: 1rem;
    font-weight: 800;
    color: #fff;
}
.victor-section__title a {
    color: #4da7af;
    text-decoration: none;
    font-weight: 900;
    transition: color 0.3s ease-in-out;
}
.victor-section__title a:hover {
    color: rgb(50, 141, 163);
    cursor: pointer;
}
.victor-section__container {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}
.victor-section__paragraph {
    font-family: Poppins, Helvetica, sans-serif;
    max-width: 950px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5;
}
.victor-section__img {
    max-width: 300px;
}
@media screen and (max-width: 800px){
    .victor-section__container {
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
}


/*Seccion preguntas frecuentes*/
.preguntas-section {
    padding-top: 3.5rem;
    text-align: center;
}
.preguntas-section__title {
    font-weight: 900;
    font-size: 1.75rem;
    max-width: 1000px;
    padding-bottom: 0.825rem;
}
.accordion {
    max-width: 750px;
}
.preguntas-section__item h2 button{
    font-weight: 700;
}

.footer-section {
    padding-top: 3rem;
}
.footer-section__paragraph {
    max-width: 1050px;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}
footer {
    background-color: #fff;
    padding: 0.5rem;
    border-top: 2px solid #4da7af;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-section__h2 {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 800;
    max-width: 1050px;
}
@media screen and (max-width: 950px){
    .section {
        padding: 1.25rem 1rem;
    }
    h2 {
        padding: 0 1rem;
    }
    p {
        padding: 0 1rem;
    }
}
@media screen and (max-width: 800px){
    .section {
        padding: 1.75rem 1rem;
    }
    .preguntas-section {
        padding: 1.5rem 1rem;
        padding-top: 1rem;
        border: 2px solid #0e262c;
    }

    .gaston-section {
        padding: 2.5rem 1rem;
    }
    .victor-section {
       padding: 2.75rem 1rem; 
       padding-bottom: 5rem;
    }
}