* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

:root {
    --svg: "M60.9,-22.8C68.8,4.4,57.9,34.6,39.1,46.6C20.2,58.5,-6.6,52.3,-26.4,37.6C-46.3,22.9,-59.1,-0.3,-53.6,-24.3C-48,-48.3,-24,-73.1,1.3,-73.5C26.5,-73.9,53.1,-49.9,60.9,-22.8Z";
}

/*POP-UP*/
input {
    color: #000 !important;
}
/* Estilos para centrar el modal en el medio de la pantalla */
.modal {
    display: none; /* Oculta el modal por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Ancho del modal */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); /* Centra verticalmente */
    max-width: 500px;
    color: #000;
}
.modal-content p {
    color: #000 !important;
}

.close {
    color: #aaa;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}


/*Header*/
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #4da7af;
    padding-top: 0.5rem;
    background-color: #fff;
}
.header-logo {
    max-width: 250px;
}


.text-blue {
    color: #4da7af;
    font-weight: 900;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
    background-color: #0e262c;
    position: relative;
    padding: 2.5rem 0;
}
.section-button {
    border: none;
    border-radius: 0.3rem;
    text-decoration: none;
    color: #eee;
    background-color: #4da7af;
    border: 2px solid transparent;
    padding: 1rem 1.25rem;
    font-weight: 800;
    font-size: 1.25rem;
    margin-top: 1.25rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.section-button:hover {
    border: 2px solid #46959c;
    background-color: #eee;
    color:#4da7af;
}


.hero-section {
    background-image: linear-gradient(#173e49,#0e262c);
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8rem;
    color: #eee;
    padding: 0 1.25rem;
}
.hero-section__title {
    max-width: 1150px;
    text-align: center;
    font-weight: 900;
    padding: 0;
    font-size: 2.5rem;
}

.scroll-animation {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 91%;
    overflow: hidden;
}
.scroll-animation span { 
        display: block;
        width: 30px;
        height: 30px;
        border-bottom: 5px solid #fff;
        border-right: 5px solid #fff;
        transform: rotate(45deg);
        margin: 0.5rem;
        animation: scroll 2s infinite;
    }
    .scroll-animation span:nth-child(2) {
        animation-delay: -.2s;
    }
    .scroll-animation span:nth-child(3) {
        animation-delay: -.4s;
    }
@keyframes scroll {
    0% {
        opacity: 1;
        transform: rotate(45deg) translate(-20x -20px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: rotate(45deg) translate(-20x -20px);
    }
}
@media screen and (max-width: 800px){
    .hero-section {
        gap: 2rem;
    }
    .scroll-animation {
        top: 87.5%;
    }
}
@media screen and (max-width: 600px){
    .hero-section {
        gap: 2.5rem;
    }
    .hero-section__title {
        font-size: 1.75rem;
    }
}


/*Primer seccion*/
.first-section {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.italic {
    font-style: italic;
}
.first-section__paragraph {
    max-width: 1050px;
    text-align: center;
    font-weight: 800;
    font-size: 1.9rem;
}
.first-section__box {
    max-width: 900px;
    font-weight: 700;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-section__box ul li {
    font-size: 1.15rem;
    list-style: none;
}
.first-section__box ul li i {
    padding-right: 0.5rem;
}

.second-section { 
    padding-top: 1rem;
}
.second-section__title {
    max-width: 950px;
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 0.825rem;
}
.second-section__paragraph {
    max-width: 1050px;
    text-align: left;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0 1rem;
}



.img-container{
    width: 400px;
    height: 275px;
    box-shadow: -10px 10px 29px 0px #2b5f5f;
    border-radius: 50%;
    overflow: hidden;
}
@media screen and (max-width:1100px) {
    .img-container{
        width: 300px;
        height: 200px;
        display: flex;
        justify-content: center;
    }
    .img-container img {
        width: 100%;
        height: 250px;
        padding-top: 1.5rem;
        transform: scale(1.25);
    }
}
@media screen and (max-width:800px) {
    .img-container{
        width: 300px;
        height: 275px;
        margin: 0.825rem 0;
    }
    .img-container img {
    }
}
.img-container img {
    
}



/*Seccion gaston*/
.gaston-section {
    background-image: linear-gradient(#0e262c, #173e49);
}
.gaston-section__title {
    padding-bottom: 0.5rem;
    font-weight: 800;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}
.gaston-section__title a {
    color: #4da7af;
    text-decoration: none;
    font-weight: 900;
    transition: color 0.3s ease-in-out;
}
.gaston-section__title a:hover {
    color: rgb(50, 141, 163);
    cursor: pointer;
}
.gaston-section__container {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 3rem;
}
.gaston-section__paragraph {
    font-family: Poppins, Helvetica, sans-serif;
    max-width: 1050px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5;
}
.gaston-section__img {
    max-width: 300px;
}
@media screen and (max-width: 800px){
    .gaston-section__container {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}



/*Seccion gastonV2*/
.gaston-sectionV2 {
    background: #0e262c;
}

.gaston-section__containerV2 {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

@media screen and (max-width: 800px){
    .gaston-section__containerV2 {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}
.img-containerV2{
    margin-top: -1rem;
    width: 475px;
    height: 450px;
    box-shadow: -16px 10px 30px 0px #234e4e;
    border-radius: 1.25rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 1;
    transform: translate(-.5rem, 3em);
    position: relative;
}

.gaston-section__imgV2 {
    width: 400px;
    height: 550px;
    padding-bottom: 3rem;
}

.text-container {
    /*
    background-color: #285764;
    */
    background-color: #eee;
    color: #222;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-self: end;
    position: relative;
    transform: translate(-2rem, 2.25rem);
    z-index: 1;
    gap: 0.825rem;
    box-shadow: 15px 15px 35px 0px #193838;
}
.gaston-section__paragraphV2{
    font-family: Poppins, Helvetica, sans-serif;
    max-width: 1050px;
    font-weight: 700;
    font-size: 1.3rem;
}
.v2 {
    margin-top: 4.5rem;
}
@media screen and (max-width:1100px) {
    .gaston-section__containerV2 {
        flex-wrap: wrap;
    }
    .img-containerV2{
        width: 400px;
        height: 500px;
        box-shadow: -16px 10px 30px 0px #0a16168a;
        z-index: 2;
        transform: translate( 0rem, 3em);
        transform: translate( 0rem, 4.5em);
    }
    
    .gaston-section__imgV2 {
        width: 450px;
        height: 600px;
    }
    
    .text-container {
        width: 90%;
        padding-top: 2rem;
        margin-left: 7.5%;
    }
}
@media screen and (max-width:600px) {
    .gaston-section {
        padding: 0;
    }
    .gaston-section__containerV2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .img-containerV2{
        width: 300px;
        height: 400px;
        transform: translate( 0rem, 4.5em);
    }
    
    .gaston-section__imgV2 {
        width: 350px;
        height: 500px;
        padding-bottom: 3rem;
    }
    .gaston-section__paragraphV2{
        font-size: 1rem;
    }
    .text-container {
        gap: 0.25rem;
        padding: 0.5rem;
        padding-top: 2rem;
        margin-right: -7.5%;
        width: 95%;
    }
}



/*Seccion victor v2*/
.victor-sectionV2 {
    background: #0e262c;
}

.victor-section__containerV2 {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}
@media screen and (max-width: 800px){
    .victor-section__containerV2 {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}
.img-container-victorV2{
    width: 500px;
    height: 500px;
    box-shadow: -16px 10px 30px 0px #234e4e;
    border-radius: 1.25rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 1;
    transform: translate(-.5rem, 3em);
    position: relative;
}

@media screen and (max-width:800px) {
    .img-container-victorV2{
        width: 300px;
        height: 275px;
        margin: 0.825rem 0;
    }
    .img-container-victorV2 img {
    }
}
.img-container-victorV2 img {
    width: 550px;
    height: auto;
}

.text-container-victor {
    /*
    background-color: #285764;
    */
    background-color: #eee;
    color: #222;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-self: end;
    position: relative;
    transform: translate(-2rem, 2.25rem);
    z-index: 1;
    gap: 0.825rem;
    box-shadow: 15px 15px 35px 0px #193838;
}
.victor-section__paragraphV2{
    font-family: Poppins, Helvetica, sans-serif;
    max-width: 1050px;
    font-weight: 700;
    font-size: 1.3rem;
}
.v2 {
    margin-top: 4.5;
}
@media screen and (max-width:1100px) {
    .victor-section__containerV2 {
        flex-wrap: wrap;
    }
    .img-container-victorV2{
        width: 400px;
        height: 500px;
        box-shadow: -16px 10px 30px 0px #0a16168a;
        z-index: 2;
        transform: translate( 0rem, 5em);
    }
    
    .victor-section__imgV2 {
        width: 450px;
        height: 600px;
    }
    
    .text-container-victor {
        transform: translate( 0rem, 3em);
        padding-top: 2.5rem;
        width: 95%;
        margin-left: 7.5%;
    }

}
@media screen and (max-width:600px) {
    .victor-section__containerV2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 7.5%;
    }
    .img-container-victorV2{
        width: 300px;
        height: 400px;
    }
    
    .victor-section__imgV2 {
        width: 350px;
        height: 450px;
        display: none;
    }
    .victor-section__paragraphV2{
        font-size: 1rem;
    }
    .text-container-victor {
        width: 95%;
        padding: 0.5rem;
        padding-top: 2.75em;
        margin-right: -1.5%;
        gap: 0.5rem;
        margin-left: 0;
        transform: translate(-1.5rem, 1rem);
    }
}


/*Seccion Victor*/
.victor-section {
    padding: 2.5rem 0;
    background-color: #12313a;
    background-image: linear-gradient(#173e49,#0e262c);
}
.victor-section__title {
    padding-bottom: 1rem;
    font-weight: 800;
    color: #fff;
}
.victor-section__title a {
    color: #4da7af;
    text-decoration: none;
    font-weight: 900;
    transition: color 0.3s ease-in-out;
}
.victor-section__title a:hover {
    color: rgb(50, 141, 163);
    cursor: pointer;
}
.victor-section__container {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 3rem;
}
.victor-section__paragraph {
    font-family: Poppins, Helvetica, sans-serif;
    max-width: 950px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5;
}
.victor-section__img {
    max-width: 300px;
}
@media screen and (max-width: 800px){
    .victor-section__container {
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
}


/*Seccion preguntas frecuentes*/
.preguntas-section {
    padding-top: 3.5rem;
    text-align: center;
}
.preguntas-section__title {
    font-weight: 900;
    font-size: 1.75rem;
    max-width: 1000px;
    padding-bottom: 0.825rem;
}
.accordion {
    max-width: 750px;
}
.preguntas-section__item h2 button{
    font-weight: 700;
}

.footer-section {
    padding-top: 3rem;
}
.footer-section__paragraph {
    max-width: 1050px;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}
footer {
    background-color: #fff;
    padding: 0.5rem;
    border-top: 2px solid #4da7af;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-section__p {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 800;
    max-width: 1050px;
}
.text-blue {
    color: #4da7af;
    font-weight: 900;
}
@media screen and (max-width: 950px){
    .section {
        padding: 1.25rem 1rem;
    }
    p {
        padding: 0 1rem;
    }
}
@media screen and (max-width: 800px){
    .section {
        padding: 1.75rem 1rem;
    }
    .hero-section {
        padding: 0 1.5rem;
    }
    .preguntas-section {
        padding: 1.5rem 1rem;
        padding-top: 1rem;
        border: 2px solid #0e262c;
    }

    .gaston-section {
        padding: 2.5rem 1rem;
    }
    .victor-section {
       padding: 2.75rem 1rem; 
       padding-bottom: 5rem;
    }
}